[package]
name = "hachimi_cat"
version = "0.1.0"
edition = "2024"

[workspace]
members = ["libhachimi", "hacat", "hacore"]

[workspace.dependencies]
anyhow = "1.0.100"
thiserror = "2.0.17"
# tracing = "0.1.44"
ringbuf = "0.4.8"

tokio = { version = "1.48.0" }
iroh = "0.95.1"

opus = { version = "0.3.0", package = "opus" }
cpal = "0.17.0"

[dependencies]
libhachimi = { path = "./libhachimi" }
anyhow = { workspace = true }
thiserror = { workspace = true }
# tracing = { workspace = true }
ringbuf = { workspace = true }

cpal = { workspace = true }
